.app-container {
  padding: 20px;
  text-align: center;
  background-color: #f7f8fa;
  min-height: 100vh;
}

.app-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: 700;
}

.loading-text {
  color: #555;
  font-size: 1.1rem;
}

/* Contenedor principal de las tarjetas */
.parking-container {
  display: flex;
  flex-wrap: wrap; /* permite que bajen al reducir pantalla */
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1300px;
  margin: 40px auto;
  padding: 0 10px;
}
